* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    background-color: #F0EEED;
    color: #2862b4;

}

.title {
    font-size: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #332C39;
    color: #332C39;
}

.wrapper {
    margin: 10rem auto;
    max-width: 60rem;

}

.accordion {
    list-style: none;
    overflow: hidden;
}

.accordion__item {
    border-bottom: 1px solid #332C39;

}

.accordion__item-label {
    padding: 2rem 0;
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
    display: block;
    transition: all 0.5s ease-out;
    width: 100%;
    background: #F0EEED;

}

.accordion__title-conteiner {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.accordion__item-ico {
    display: inline-block;
    opacity: 1;
    transform: rotate(45deg);
    margin-left: 1rem;
    transition: all .4s ease-out;
    text-align: right;
}

.accordion__item-title {
    display: flex;
    /* padding-bottom: 2rem; */
    justify-content: space-between;
    align-items: center;
}

.accordion__item-mark {
    display: none;
}

.accordion__item-content {
    display: flex;
    justify-content: center;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}

/* *************************************** */

.accordion__item-mark:checked~.accordion__item-content {
    display: flex;
    max-height: 30rem;
    opacity: 1;
    visibility: visible;
    justify-content: center;
}

.accordion__item-mark:checked~.accordion__title-conteiner .accordion__item-ico {
    transform: rotate(90deg)
}

.accordion__item-mark:checked~.accordion__title-conteiner {
    color: #332C39;
}

/* .accordion .accordion__item-label+.accordion__item-mark:checked+.accordion__item-img {
    max-height: 30rem;
} */

.fifth-meme,
.fourth-meme,
.third-meme,
.second-meme,
.first-meme {
    display: block;
    width: 20rem;
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
}

.first-meme {
    background-image: url(./img/deadline.svg);
}

.second-meme {
    background-image: url(./img/error.svg);
}

.third-meme {
    background-image: url(./img/everything-works.svg);
}

.fourth-meme {
    background-image: url(./img/junior.svg);

}

.fifth-meme {
    background-image: url(./img/so-little-work-i-done.svg);
}

/* *************************************** */
@media screen and (min-width:220px) {
    .wrapper {
        padding: 0 1rem;
    }

    /* .accordion__item-label {
        font-size: 1.8rem;
    }

    .title {
        font-size: 2rem;
    }
 */
}
@media screen and (min-width:320px) {
    .wrapper {
        padding: 0 1rem;
    }

    .accordion__item-label {
        font-size: 1.8rem;
    }

    .title {
        font-size: 2rem;
    }

}
@media screen and (min-width:450px) {
    .wrapper {
        padding: 0 2rem;
    }

    .accordion__item-label {
        font-size: 2rem;
    }

    .title {
        font-size: 2.6rem;
    }
}

@media screen and (min-width:480px) {
    .wrapper {
        padding: 0 3rem;
    }

}

@media screen and (min-width:820px) {
    .accordion__item-label {
        font-size: 2.6rem;
    }

    .title {
        font-size: 3.2rem;
    }
}

@media screen and (min-width:1920px) {
    .body {
        font-size: 1.6rem;
    }

    .title {
        font-size: 4rem;
    }

    .accordion__item-label {
        font-size: 3rem;
    }
    .accordion__item-ico {
        display: inline-block;
        opacity: 0;
    }
    .fifth-meme,
    .fourth-meme,
    .third-meme,
    .second-meme,
    .first-meme {
        width: 30rem;
        height: 30rem;
    }
    .accordion:hover {
        color: #332C39;
        cursor: pointer;
    }

    .accordion:hover .accordion__item-ico {
        opacity: 1;
        transition: all 0.4s;
    }

    .accordion__item-label:hover {
        color: #332C39;
        cursor: pointer;
    }

    .accordion__item-label:hover .accordion__item-ico {
        color: #332C39;
        cursor: pointer;
        transform: rotate(90deg);
    }

    .accordion__item-label:hover .accordion__item-content {
        display: flex;
        max-height: 30rem;
        opacity: 1;
        visibility: visible;
        justify-content: center;
    }
 

}